:javascript
  $(function() {
    Tradebitcoin.buyForm = new Tradebitcoin.views.forms.Order({id: "buy_order_form"});
    Tradebitcoin.sellForm = new Tradebitcoin.views.forms.Order({id: "sell_order_form"});
  });
.row
  .span12
    = errors_for @trade_order, :translated_message => t(".error", :count => @trade_order.errors.count)
  .span6
    .widget-container
      %h4.breadcrumb.text-center= t ".buy"
      = form_for @trade_order, :as => "trade_order", :url => account_trade_orders_path,
        :html => {class: "form-horizontal", :id => "buy_order_form"} do |f|
        .control-group
          = f.label :amount, t(".buy_bitcoin_amount_label"), :class => "control-label"
          .controls
            = f.text_field :amount, :value => amount_field_value(@trade_order.amount),
              :class => "input-medium trigger-total-update amount trade-order-amount", :placeholder => t(".bitcoin_amount_placehodler")
            .help-inline BTC
        .control-group
          = f.label :ppc, t(".ppc_label"), :class => "control-label"
          .controls
            = f.text_field :ppc, :value => DataService::day_high,
              :class => "input-medium trigger-total-update amount ppc", :placeholder => t(".max_ppc_placeholder")
            .help-inline USD
        .control-group
          = f.label :total, :class => "control-label"
          .controls
            = text_field_tag :total, nil, :disabled => true, :class => "input-medium amount total"
            .help-inline USD
        = f.hidden_field :category, :value => "buy"
        = f.hidden_field :currency, :value => "USD"
        = f.hidden_field :type, :value => "limit_order"
        = f.hidden_field :dark_pool, :value => "0"
        .control-group
          .controls
            = f.submit t(".buy"), :class => "btn btn-success submit"
  .span6
    .widget-container
      %h4.breadcrumb.text-center= t ".sell"
      = form_for @trade_order, :as => "trade_order", :url => account_trade_orders_path,
        :html => {class: "form-horizontal", :id => "sell_order_form"} do |f|
        .control-group
          = f.label :amount, t(".sell_bitcoin_amount_label"), :class => "control-label"
          .controls
            = f.text_field :amount, :value => amount_field_value(@trade_order.amount),
                :class => "input-medium trigger-total-update amount trade-order-amount", :placeholder => t(".bitcoin_amount_placehodler")
            .help-inline BTC
        .control-group
          = f.label :ppc, :class => "control-label"
          .controls
            = f.text_field :ppc, :value => DataService::last_price,
              :class => "input-medium trigger-total-update amount ppc", :placeholder => t(".min_ppc_placeholder")
            .help-inline USD
        .control-group
          = f.label :total, :class => "control-label"
          .controls
            = text_field_tag :total, nil, :disabled => true, :class => "input-medium amount total"
            .help-inline USD
        = f.hidden_field :category, :value => "sell"
        = f.hidden_field :currency, :value => "USD"
        = f.hidden_field :type, :value => "limit_order"
        = f.hidden_field :dark_pool, :value => "0"
        .control-group
          .controls
            = f.submit t(".sell"), :class => "btn btn-success submit"

