%h1= t(".title")

.alert
  = image_tag "info.png"
  = link_to(t(".help"), static_path(:trade_orders_help))

.row
  .span12
    %ul.nav.nav-tabs
      %li.active= link_to t(".buy"), "#buy", :"data-toggle" => "tab"
      %li= link_to t(".sell"), "#sell", :"data-toggle" => "tab"

    .tab-content
      .tab-pane.active#buy
        = form_for @trade_order, :as => "trade_order", :url => account_trade_orders_path, :html => {class: "form-horizontal"} do |f|
          = errors_for @trade_order, :translated_message => t(".error", :count => @trade_order.errors.count)
          .control-group
            = f.label :amount, :class => "control-label"
            .controls
              = f.text_field :amount, :value => amount_field_value(@trade_order.amount), :class => "input-medium trigger-total-update amount"
              .help-inline= t(".amount_explanation")
          .control-group
            = f.label :ppc, :class => "control-label"
            .controls
              = f.text_field :ppc, :value => amount_field_value(@trade_order.ppc), :class => "input-medium trigger-total-update amount"
              .help-inline= t(".ppc_explanation")
          .control-group
            = f.label :total, :class => "control-label"
            .controls
              = text_field_tag :total, nil, :disabled => true, :class => "input-medium amount"
              .help-inline= t(".total_explanation")
          .control-group
            = f.label :balance, t(".your_balance"), :class => "control-label"
            .controls
              = text_field_tag :balance, nil, :disabled => true, :class => "input-medium amount"
              .help-inline= t(".your_balance_explanation")
          = f.hidden_field :category, :value => "buy"
          = f.hidden_field :currency, :value => "USD"
          = f.hidden_field :type, :value => "limit_order"
          = f.hidden_field :dark_pool, :value => "0"
          .control-group
            .controls
              = f.submit :class => "btn btn-success submit"

      .tab-pane#sell
        = form_for @trade_order, :as => "trade_order", :url => account_trade_orders_path, :html => {class: "form-horizontal"} do |f|
          = errors_for @trade_order, :translated_message => t(".error", :count => @trade_order.errors.count)
          .control-group
            = f.label :amount, :class => "control-label"
            .controls
              = f.text_field :amount, :value => amount_field_value(@trade_order.amount), :class => "input-medium trigger-total-update amount"
              .help-inline= t(".amount_explanation")
          .control-group
            = f.label :ppc, :class => "control-label"
            .controls
              = f.text_field :ppc, :value => amount_field_value(@trade_order.ppc), :class => "input-medium trigger-total-update amount"
              .help-inline= t(".ppc_explanation")
          .control-group
            = f.label :total, :class => "control-label"
            .controls
              = text_field_tag :total, nil, :disabled => true, :class => "input-medium amount"
              .help-inline= t(".total_explanation")
          .control-group
            = f.label :balance, t(".your_balance"), :class => "control-label"
            .controls
              = text_field_tag :balance, nil, :disabled => true, :class => "input-medium amount"
              .help-inline= t(".your_balance_explanation")
          = f.hidden_field :category, :value => "buy"
          = f.hidden_field :currency, :value => "USD"
          = f.hidden_field :type, :value => "limit_order"
          = f.hidden_field :dark_pool, :value => "0"
          .control-group
            .controls
              = f.submit :class => "btn btn-success submit"


