= t("emails.withdrawal_processed_notification.body")

-case @withdrawal.transfer_type
  -when 'Wire'
    #{@withdrawal.amount.abs} #{@withdrawal.currency} has been sent to your bank account #{@withdrawal.bank_account.iban}
  -when 'Dwolla'
    #{@withdrawal.amount.abs} #{@withdrawal.currency} has been sent to #{@withdrawal.email} with Dwolla
  -when 'LTC'
    #{@withdrawal.amount.abs} #{@withdrawal.currency} has been sent to #{@withdrawal.address}
  -when 'BTC'
    #{@withdrawal.amount.abs} #{@withdrawal.currency} has been sent to #{@withdrawal.address}
