.page-header
  %h2= t(".create_invoice")

= form_for @invoice, :html => {class: "form-horizontal"} do |f|
  = errors_for @invoice, :message => "invoices.new.error"

  .control-group
    = f.label :merchant_reference, :class => "control-label"
    .controls
      = f.text_field :merchant_reference

  .control-group
    = f.label :amount, :class => "control-label"
    .controls
      = f.text_field :amount, :class => "amount"
      .help-inline= t(".amount_explanation")

  .control-group
    = f.label :merchant_memo, :class => "control-label"
    .controls
      = f.text_area :merchant_memo, :rows => 5

  .control-group
    = f.label :callback_url, :class => "control-label"
    .controls
      = f.text_field :callback_url
      .help-inline= t(".callback_url_explanation")

  .control-group
    = f.label :item_url, :class => "control-label"
    .controls
      = f.text_field :item_url
      .help-inline= t(".item_url_explanation")

  .control-group
    .controls
      = f.submit t(".submit"), :class => 'btn btn-success submit'