=title 'Tradebitcoin | Change password'

.page-header
  %h2= t(".change_password")
= form_for @user, :as => :user, :url => change_password_path, :html => {:class => "form-horizontal"} do |f|
  = errors_for @user, :message => "error_updating_account"
  .control-group
    = f.label :current_password, :class => "control-label"
    .controls
      = f.password_field :current_password

  .control-group
    = f.label :password, :class => "control-label"
    .controls
      = f.password_field :password, :value => ""

  .control-group
    = f.label :password_confirmation, :class => "control-label"
    .controls
      = f.password_field :password_confirmation

  .control-group
    .controls
      = f.submit t(:submit), :class => 'btn btn-success'

