= form_for @user, :as => :user, :url => user_path, :html => {:class => "form-horizontal"} do |f|
  = errors_for @user, :message => "error_updating_account"

  - unless @user.new_record?
    .control-group
      = f.label :name, :class => "control-label"
      .controls
        = f.text_field :name, :disabled => true

  .control-group
    = f.label :email, :class => "control-label"
    .controls
      = f.text_field :email, :disabled => true

  .control-group
    = f.label :full_name, :class => "control-label"
    .controls
      = f.text_field :full_name, :disabled => !@user.full_name.blank?

  .control-group
    = f.label :address, :class => "control-label"
    .controls
      = f.text_area :address, :disabled => !@user.address.blank?, :rows => 4

  .control-group
    = f.label :time_zone, :class => "control-label"
    .controls
      = f.time_zone_select :time_zone, nil, :prompt => "--"
      .help-inline= t(".time_zone_explanation")


  - if @user.new_record?
    .recaptcha-field
      %label{ :for => "recaptcha_response_field" } t(".turing_test")
      = f.text_field :account, :disabled => true
      .recaptcha-input= recaptcha_tags :ssl => true

  .control-group
    .controls
      = f.submit t(".submit"), :class => 'btn btn-success submit'
