.page-header
  %h2= t(:change_password)
= devise_error_messages!
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  .control-group
    = f.label :password
    .controls
      = f.password_field :password
  .control-group
    = f.label :password_confirmation
    .controls
      = f.password_field :password_confirmation
  = f.hidden_field :reset_password_token
  .control-group
    .controls
      = f.submit t(:submit), :class => "submit btn btn-success"