.page-header
  %h2 TOTP authentication
.widget-container
  %h4
    TOTP authentication status:
    - if current_user.require_ga_otp
      %span.text-success enabled
      %br
      %br
      = link_to t(".disable"), gauth_disable_path, :class => "btn btn-medium btn-warning"
    - else
      %span.text-warning disabled
      %br
      %br
      = link_to t(".enable"), gauth_enable_path, :class => "btn btn-medium btn-success"
      .help-inline Warning: you will be unable to login without Google Authenticator


%h3 Why use one-time-password authentication ?
%p
  TOTP authentication adds a security layer on top of the login/password authentication
  mechanism. For your account to be compromised, an attacker must not only know your
  password, but also know your shared-secret or compromise your mobile device.e.
%p
  If you activate the "Require TOTP" option in your account settings you won't be
  able to sign in without providing a TOTP token. You can use the same token multiple
  times, but the token is time based and is only valid for 30 seconds. You need a
  Blackebbery, Android or iPhone for the token generation.

%h3 Reset your shared-secret
%p
  If you think your mobile device has been compromised or if you think someone
  got a hold of your shared-secret you <strong>must</strong> reset it.
%p
  You will need to update your mobile device configuration.
%p
  = link_to "Reset shared secret", gauth_reset_path, :class => "btn btn-primary"

%h3 Configuration
%p
  %ul
    %li Install the #{link_to "Google Authenticator", "http://www.google.com/support/accounts/bin/answer.py?hl=en&answer=1066447", :target => "_blank"} app on your mobile device
    %li
      Configure the shared secret, either:
      %ul
        %li manually, or
        %li automatically by scanning the QR code below.

%h4 Automatic configuration

%p Scan the QR code to automatically configure your mobile device.

= qrcode_image_tag current_user.ga_provisioning_uri

%h4 Manual configuration

%p Use these parameters to configure your device
%br
.row
  .span5
    %table.table.table-bordered
      %tr
        %th Account
        %td= current_user.name
      %tr
        %th Token type
        %td Time-based
      %tr
        %th Shared secret
        %td.fixed= current_user.ga_otp_secret

