.page-header
  %h2= t(".sign_in")

= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f|
  .control-group
    = f.label :name, :class => "control-label"
    .controls
      = f.text_field :name
      .help-block= t(:account_description)

  .control-group
    = f.label :password, :class => "control-label"
    .controls
      = f.password_field :password
      .help-block= link_to t(".password_explanation"), new_password_path(resource_name)

  .control-group
    = f.label :ga_otp, :class => "control-label"
    .controls
      = f.text_field :ga_otp, :class => "ga-otp"
      .help-block= t(".ga_otp_explanation")

  .control-group
    = f.label :yk_otp, :class => "control-label"
    .controls
      = f.text_field :yk_otp, :class => "yk-otp"
      .help-block= t(".yk_otp_explanation")
  
  .control-group
    .controls
      = f.submit t(".sign_in"), :class => "btn submit"

  .control-group
    .controls
      = render :partial => "devise/shared/links"
