.control-group
  = form_builder.label :bic, :class => "control-label"
  .controls
    = form_builder.text_field :bic

.control-group
  = form_builder.label :iban, :class => "control-label"
  .controls
    = form_builder.text_field :iban

.control-group
  = form_builder.label :account_holder, :class => "control-label"
  .controls
    = form_builder.text_area :account_holder, :rows => 5
