%h2= t("activerecord.models.bank_account.other")

= render :partial => 'bank_accounts/list', :locals => { :bank_accounts => @bank_accounts }

%h3= t(".title")
.widget-container
  = form_for [current_user, @bank_account], :url => user_bank_accounts_path, :html => {class: "form-horizontal"} do |f|
    = errors_for @bank_account, :message => "bank_accounts.index.error"
    = render :partial => 'bank_accounts/fields', :locals => { :form_builder => f }
    .control-group
      .controls
        = f.submit t(".submit"), :class => 'btn btn-success'

