%h2= t :account_history_title

.widget-container
  %table.table.table-striped
    %thead
      %tr
        %th Date
        %th= t :currency
        %th= t :amount
        %th.auto-sized

    - unless @transfers.blank?
      - @transfers.each do |transfer|
        %tr{ :class => cycle('even', 'odd') }
          %td= l transfer.created_at
          %td
            = currency_icon_for(transfer.currency)
            = transfer.currency
          %td.amount
            %span{ :class => color_for(transfer), :title => confirmation_tooltip_for(transfer) }
              = "#{transfer.amount > 0 ? "+" : "-"} #{transfer.amount.abs}"
          %td.auto-sized
            = transfer_details(transfer)

    - else
      = render :partial => "layouts/no_data"

.text-center
  = will_paginate(@transfers, renderer: BootstrapPagination::Rails)