.page-header
  %h2= t(".title")
= t(".body_html")

%br

= form_for @transfer, :as => :transfer, :url => account_transfers_path, :html => {class: "form-horizontal"} do |f|
  = errors_for(@transfer, :translated_message => t(".error"), :include_nested => :bank_account)

  .control-group
    = f.label :transfer_type, :class => "control-label"
    .controls
      = f.select :transfer_type, [["Bitcoins", "BTC"], ["Wire Transfer", "Wire"], ["OkPay", "Okpay"]], :selected => @transfer[:transfer_type] || 'BTC'
  
  -case @transfer.transfer_type
    -when 'Wire'
      = render :partial => 'wire', :locals => { :f => f }
    -when 'Okpay'
      = render :partial => 'okpay', :locals => { :f => f }
    -when 'Paypal'
      = render :partial => 'paypal', :locals => { :f => f }
    -else
      = render :partial => 'btc', :locals => { :f => f }

  .control-group
    = label_tag :withdrawal_fee, 'Fee', :class => "control-label"
    .controls
      = text_field_tag :withdrawal_fee, 0, :class => "amount", :disabled => true

  .control-group
    = label_tag :max_amount, t(".max_amount"), :class => "control-label"
    .controls
      = text_field_tag :max_amount, amount_field_value(current_user.max_withdraw_for('USD')), :class => "amount", :disabled => true

  .control-group
    = f.label :amount, :class => "control-label"
    .controls
      = f.text_field :amount, :value => amount_field_value(@transfer.amount), :autocomplete => "off"

  .control-group
    .controls
      = f.submit :value => t(".submit"), :class => "btn btn-success submit"

<script>

var currentBalance = {'USD': '#{@balance[:USD]}', 'EUR': '#{@balance[:EUR]}', 'LTC': '#{@balance[:LTC]}', 'BTC': '#{@balance[:BTC]}'};

var fees = {'wire_us': "#{Withdraw::get_fee('wire_us')}", 'wire_international': "#{Withdraw::get_fee('wire_international')}", 'okpay': "4%", 'paypal': "1%", 'btc': "#{Withdraw::get_fee('btc')}", 'ltc': "#{Withdraw::get_fee('ltc')}"};

</script>
