%ul.unstyled.inline.text-info
  %li= raw t(".market_data.last_price", :price => DataService::last_price)
  %li= raw t(".market_data.day_average", :price => DataService::day_average)
  %li= raw t(".market_data.day_range", :low => DataService::day_low, :high => DataService::day_high)
  %li= raw t(".market_data.day_volume", :btc => DataService::day_volume_btc, :usd => DataService::day_volume_usd)
.row.navigation
  .span12
    .navbar
      .navbar-inner
        = link_to t(".title"), root_path, :class => "brand"
        %ul.nav
          %li.divider-vertical
          %li.dropdown
          = menu_item ".trading.main", nil do
            %ul{:class => "dropdown-menu"}
              = menu_item ".trading.your_orders", account_trade_orders_path, :logged_in => true
              = menu_item ".trading.trade_history", account_trades_path, :logged_in => true
              = menu_item ".trading.order_book", order_book_path
              = menu_item ".trading.new_order", new_account_trade_order_path

          = menu_item ".account.main", nil, :logged_in => true do
            %ul{:class => "dropdown-menu"}
              = menu_item ".account.balance", account_path
              = menu_item ".account.history", account_transfers_path
              = menu_item ".account.deposit", deposit_account_path
              = menu_item ".account.withdraw", new_account_transfer_path

          = menu_item ".help.main", nil do
            %ul{:class => "dropdown-menu"}
              = menu_item ".help.faq", static_path(:faq)
              = menu_item ".help.terms_of_service", static_path(:terms_of_service), :logged_in => true
              = menu_item ".help.fees", static_path(:fees)
              = menu_item ".help.support", support_path
              = menu_item ".help.api_docs", static_path(:api_docs)

          = menu_item ".admin.main", nil, :manager => true do
            %ul{:class => "dropdown-menu"}
              = menu_item "activerecord.models.user.other", admin_users_path
              = menu_item ".admin.pending_transfers", admin_pending_transfers_path
              = menu_item ".admin.information", admin_balances_path
              = menu_item "activerecord.models.announcement.other", admin_announcements_path
              = menu_item "activerecord.models.static_page.other", admin_static_pages_path
              = menu_item "activerecord.models.currency.other", admin_currencies_path, :admin => true
              = menu_item "activerecord.models.ticket.other", admin_tickets_path

          -#= menu_item ".ecommerce.main", nil, :merchant => true do
          -#  %ul{:class => "dropdown-menu"}
          -#    = menu_item "activerecord.models.invoice.other", invoices_path
        %ul.nav.pull-right
          %li.divider-vertical
          - if current_user
            %li.dropdown
              = link_to '#', {:class => "dropdown-toggle", :"data-toggle" => "dropdown"} do
                = @current_user.name
                %b.caret
              %ul{:class => "dropdown-menu"}
                %li= link_to t(".account.edit"), edit_user_path
                %li= link_to t(".account.logout"), destroy_session_path(:user)
          - else
            %li= link_to t(".sign_in"), new_session_path(:user)
            %li= link_to t(".sign_up"), new_registration_path(:user)

